<div class="tictactoe">
  <header class="header">
    <h1>tictactoe</h1>
  </header>
</div>

<div class="board">
  <div class="container">
    <div class="row">
      <div class="x0y0">
        <text id="text">X</text>
      </div>
      <div class="x1y0">
        <text id="text">O</text>
      </div>
      <div class="x2y0">
        <text id="text">X</text>
      </div>
    </div>
    <div class="row">
      <div class="x0y1">
        <text id="text">O</text>
      </div>
      <div class="x1y1">
        <text id="text">X</text>
      </div>
      <div class="x1y2">
        <text id="text">O</text>
      </div>
    </div>
    <div class="row">
      <div class="x0y2">
        <text id="text">X</text>
      </div>
      <div class="x1y2">
        <text id="text">O</text>
      </div>
      <div class="x2y2">
        <text id="text"></text>
      </div>
    </div>
  </div>
</div>